.Root {
    border-color: black;
    margin: 40px;
}

.bazaar{
    color: #4A2B22;
    font-size: 500%;
}
.regist{
    padding-left: 10px;
    font-size: x-large;
    
}
.bold{
    font-weight: bold;
}
.headerfix {
    height: 20%;
}





/*Testing Grounds*/
container{
    background-color: rgb(255, 155, 5);
}
.container-fluid{
    background-color: rgb(255, 155, 5);
}
input-group{
    background-color: yellow;
}
.top{
    right: 50%;
}
.form-control{
    margin-bottom: 20px;
}
.btn {
    background-color: orangered;
}
.footercardpadding{
    padding-right: 30px;
}
.btn{
    transition: ease-out 0.3;
    
    }
.btn:hover{
box-shadow: inset 300px aqua;
}